<section class="section anchor">
  <div class="container">
    <div class="card block">
      <h2 class="h2">{{ lang.t('timeline_title') }}</h2>

      <div class="cols">
        <div class="col card">
          <div class="k">{{ lang.t('timeline_exp_k') }}</div>

          <div class="item card" *ngFor="let e of experience()">
            <div class="t">{{ e.title }}</div>
            <div class="s">{{ e.subtitle }}</div>
            <div class="chips" style="margin-top:10px">
              <span class="chip" *ngFor="let tag of e.tags">{{ tag }}</span>
            </div>
          </div>
        </div>

        <div class="col card">
          <div class="k">{{ lang.t('timeline_edu_k') }}</div>

          <div class="item card" *ngFor="let e of education()">
            <div class="t">{{ e.title }}</div>
            <div class="s">{{ e.subtitle }}</div>
            <div class="chips" style="margin-top:10px">
              <span class="chip" *ngFor="let tag of e.tags">{{ tag }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
